.hotel-details-overview-map {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  max-width: 85vw;
  margin: 0 auto;
  padding: 1rem;
  background-color: #ffffff;
}

.overview-column {
  flex: 3;
}

.map-column {
  flex: 2;
  height: 300px;
}

.hotel-details-content {
  max-width: 85vw;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #ffffff;
}
