body {
  background-color: #f9f9f9; /* light grey */
  min-height: 100vh;
}

.hotel-details-content {
    max-width: 1200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #ffffff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
